# Zudo Admin Panel Configuration Template
# Override the backend API endpoint base url (defaults to window.location.origin/api if blank)
VITE_API_URL=https://lightgreen-trout-176417.hostingersite.com/api

# Override the production domain for media and image resources
VITE_PRODUCTION_DOMAIN=https://lightgreen-trout-176417.hostingersite.com

# Override the base URL specifically for notification and auth operations
VITE_NOTIFICATION_API_URL=https://lightgreen-trout-176417.hostingersite.com/api

